.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    height: 400px;
}

.thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.content{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.editoria {
    color: #2a51ff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.titulo {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}

.subtitulo {
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shareIcons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    border-top: 1px solid #ddd;
    padding-top: .4em;
}

.iconButton {
    border: none;
    background-color: transparent;
}
.iconButton i:hover {
    color: #0c35ce; /* Cor azul quando o mouse passar por cima */
    cursor: pointer;
  }

i {
    color: #9d9fa1;
}

.noticia {
    text-decoration: none;
}