.header,
header nav {
    display: flex;
}

.header {
    padding:var(--spacing-4) var(--spacing-6);
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    font-size: var(--font-size-4);
    flex-direction: column;
    gap: var(--spacing-4);
}

header h1 {
    font-size: var(--font-size-3);
    letter-spacing: 3px;
}

header nav {
    gap: var(--spacing-4);
}

header nav a {
    font-size: var(--font-size-3);
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid grey;
    border-radius: var(--radius-3);
    color: var(--color-white);
    border-color: var(--color-white);
    transition: all .4s easy-in-out;
    font-weight: 700;
    letter-spacing: 2px;
}

header nav a:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-color: var(--color-white);
}