body {
  font-family: Arial, Helvetica, sans-serif;
}

/* CK EDITOR */
.ck-editor__main {
  max-height: 80px;
  overflow: auto;
}

@media (min-width: 560px) {
  .ck-editor__main {
    max-height: 140px;
  }

  .ck-editor__editable {
    min-height: 100px;
  }
}

/* tokens */
:root {
  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 18px;
  --font-size-3: 20px;
  --font-size-4: 24px;
  --font-size-5: 42px;
  --spacing-1: 5px;
  --spacing-2: 10px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 32px;
  --spacing-6: 40px;
  --radius-1: 4px;
  --radius-2: 6px;
  --radius-3: 8px;
  --color-black: #000;
  --color-text: #333;
  --color-white: #fff;
  --color-off-white: #eee;
  --color-light-grey: #ccc;
  --color-dark-grey: #666;
  --color-dark-blue: #0c35ce;
  --color-blue: #2a51ff;
  --color-green: #176e17;
  --color-yellow: #9e9e35;
  --color-orange: #ffa07a;
  --color-red: #a72020;
}
